 @import url('https://fonts.googleapis.com/css2?family=Barlow&family=Ephesis&family=Josefin+Sans&family=Poppins&display=swap');


.internships{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infocard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(203, 221, 220);
    margin: 10px;
    width: 45rem;
    height: 23rem;
    border-radius: 30px;
}
.infocard-image{
    border-radius: 20px;
    height: 80%;
    width: 45%;
  }
  .infocard-image img{
    border-radius: 20px;
      width: 100%;
      height: 100%;
  }

  .infocard-title{
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
  }
.infocard-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 48%;
    height: fit-content;

}

.infocard-description{

    font-weight: bolder;
    color: rgb(39, 37, 37);
    text-align: center;
    font-size: 13px;
}

.infocard-techused{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tech{
    margin: 10px 0px 10px 0px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    width: fit-content;
}

.tech img{
    height: 42px;
}

.infocard-buttons{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 40px;
    :hover{
        background-color: rgb(195, 232, 242);
        cursor: pointer;
    }
}

.infocard-button{
    border: none;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(175, 214, 248);

}
.infocard-button a{
    font-weight: bolder;
    text-decoration: none;
    color: black;
}


@media screen and (max-width:815px) and (min-width:358px){
    .infocard{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 80%;
    }
    .infocard-image{
        border-radius: 20px;
        height: 200px;
        width: 270px;
        margin:10px 0px 10px 0px;
      }
      .infocard-buttons{
       margin: 10px 0px 10px 0px ;
    }
    .infocard-info {
        width: 85%;
        
    }
    .tech{
        margin: 10px 0px 10px 0px;
        padding-left: 5px;
        display: flex;
        justify-content: space-around;
        width: fit-content;
    }
    
}

@media screen and (max-width:357px) {
    .infocard{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 80%;
    }
    .infocard-image{
        border-radius: 20px;
        height: 200px;
        width: 90%;
        margin:10px 0px 10px 0px;
      }
      .infocard-buttons{
       margin: 10px 0px 10px 0px ;
    }
    .infocard-info {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        height: fit-content;
    }
    .infocard-techused{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
}