@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&display=swap');

.nav{
    z-index: 3;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(66,28,84);
    background: linear-gradient(59deg, rgba(66,28,84,1) 0%, rgba(14,75,81,1) 100%);
    position: sticky;
    top:0px;
    border: 1px  rgb(47, 91, 91);
    
}

.hamburger{
    display: none;
    background-image: url(../../images/hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
}

ul{
    list-style: none;
}
.logo{
    font-family: "Kaushan Script";
    font-weight: bolder;
    font-size: 25px;
    /* color: rgb(0,230,237); */
    color: gold;
    
}

.ul{
    padding: 0;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.ul li{
    :hover{
        cursor: pointer;
    }
}

.navigator{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-decoration: none;
    color: rgb(168, 241, 255);
    transition: color 0.5s ease-in;
    &:hover{
        color: cyan;
    }
    
}

.navbutton{
    background-color: rgb(50, 190, 190);
    font-weight: bold;
    font-family:  monospace;
    border: none;
    border-radius: 25px;
    width: 12vw;
    height: 30px;
    transition: box-shadow  0.4s ease-in-out;

    &:hover{
        color: rgb(36, 37, 37);
        background-color: aquamarine;
        cursor: pointer;
        box-shadow: 5px 10px 5px rgb(68, 95, 86) ;
    }
    
}

@media screen and (max-width: 710px) {
    .hamburger{
        display: inline;

    }
    .nav{
        justify-content: space-around;
        height: 60px;
    }
    .navbutton{
        width: 25%;
        font-size: 12px;
    }
    .ul{
        display: none;
    }
   
}
