@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Ephesis&family=Josefin+Sans&display=swap');
#Skills{
    padding-top: 40px;
}
.skills-container {
    font-family: Josefin Sans;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
    /* background: rgb(40,117,119);
    background: linear-gradient(30deg, rgb(7, 74, 77) 4%, rgba(46,8,57,1) 43%, rgb(39, 0, 57) 97%); */
    /* background: rgb(7,53,53);
    background: linear-gradient(29deg, rgba(7,53,53,1) 18%, rgba(4,98,105,1) 36%, rgba(46,8,57,1) 84%); */
    gap: 20px;
    height: fit-content;
    width: 100vw;
    margin: 0 auto;
}
.title{
    margin: 10px 0px 10px 0px;
    border: blue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: gold;
    font-size: 40px;
    background-color: #11012e;
    border: none;
}

.skill-card {
    margin-bottom: 10px;
    width: 30%;
    height: 27vh;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
    transform: scale(1.05);
}

.programming-languages {
    background-color: #1f55aa; /* Blue */
}

.front-end-technologies {
    background-color: #189b3b; /* Green */
}

.back-end-technologies {
    background-color: #a92013; /* Red */
}


.data-science {
    background-color: #be9f06; /* Orange */
}



.skill-title {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #ffffff;
}

.skill-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-list-item {
    margin-bottom: 8px;
    color: #ffffff;
}

/* Media Queries */
@media screen and (max-width: 540px) {
    .skill-card {
        width: 65%;
        height: fit-content;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
        transition: transform 0.3s ease-in-out;
    }

   
}
